

.course-card img {
    width: 280px;
    height: 220px;
}

.course-card-bg{
    position: relative;
    border-radius: 100%;
}

.course-card-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -999;
    position: absolute;
    top: 0;
    left: -4%;
    border-radius: 50%;
}

@media screen and (max-width:992px) {
    .course-card-bg{
   
        border-radius: 1%;
    }
    .course-card-bg::after{
        
        background: transparent;
        z-index: -999;
        position: absolute;
        
    }
    
}