.user-img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.premium-badge{
        font-size: 14px;
        margin-top: 12px;
        font-weight: 400;
        
        color: rgb(253, 61, 61);
}

